*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.vercel
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/images
/storage
/vendor
/database
/tests
Homestead.json
Homestead.yaml
Thumbs.db
Builders.zip
.editorconfig
.gitattributes
.htaccess
README.md
phpunit.xml
jsconfig.json
package-lock.json
postcss.config.js
tailwind.config.js
.vercel
.env*.local
